// https://yalter.github.io/niri/Configuration:-Introduction
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}


// disabling shadows while overview
overview {
    workspace-shadow {
        off
    }
}

// input settings
input {
    keyboard {
        xkb {
            layout "us,ru"
        }
        track-layout "window"
        numlock
    }
    touchpad {
        tap
        dwt
        dwtp
        drag-lock
        natural-scroll
        accel-speed 0.8
        accel-profile "flat"
        scroll-method "two-finger"
    }
    mouse {
    }
    trackpoint {
    }
}

// display settings
output "eDP-1" {
    mode "1920x1080@60.10"
    scale 1.0
    // rotate screen
    transform "normal"
}

// windows settings
layout {
    background-color "transparent"
    gaps 5
    default-column-width { proportion 0.5; }
    focus-ring {
        width 4
        inactive-color "#f7c84b"
        active-gradient from="#ffd978" to="#cd7818" angle=20
    }
    preset-window-heights {
        proportion 0.33
        proportion 0.5     
        proportion 1.0
    }
    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.66
    }
}

hotkey-overlay {
    skip-at-startup
}

// tell apps to disable their customisation for fixing some issues
prefer-no-csd

// screenshot directory
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// animation settings
animations {
    slowdown 0.3
}

// corner radius
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// binds 
binds {
    // mpd commands; means music
    Mod+M  { spawn-sh "mpc toggle"; }
    Mod+Shift+M  { spawn-sh "mpc next"; }
    Mod+f2  { spawn-sh "mpc volume -10"; }
    Mod+f3  { spawn-sh "mpc volume +10"; }

    Mod+Return  { spawn "alacritty"; }
    Mod+D  { spawn "fuzzel"; }

    // commands with f$N
    f1  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    f2  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    f3  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    f4  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    f5  { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
    f6  { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    f7 repeat=false { spawn-sh "/home/myka/.config/swww/random-bg.sh"; }
    Mod+f7 repeat=false { spawn-sh "/home/myka/.config/swww/random-bg-gif.sh"; }
    f8 repeat=false { spawn-sh "nmcli radio wifi | grep -q 'enabled' && nmcli radio wifi off || nmcli radio wifi on"; }
    Mod+f8 repeat=false { spawn-sh "nmcli device wifi rescan"; }
    f10 repeat=false { spawn-sh "bluetoothctl show | grep -q 'Powered: yes' && bluetoothctl power off || bluetoothctl power on"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Ctrl+L     { consume-or-expel-window-right; }
    Mod+Ctrl+H     { consume-or-expel-window-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+Space       { switch-layout "next"; }

    // screenshoots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


    Mod+Shift+E { quit; }

    Mod+Z { power-off-monitors; }
}
